<html>
<head>
  <title>StartIT Instagram</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style13.css') }}">
</head>

<body>
<div class="container-all">
{% for pic in pictures %}  
<div class="container">
    <a href="{{ url_for('bilde', picture=pic) }}">
      <img src='{{pic}}' height='250px' width='250px' alt='{{pic}}'/>  
    </a>
    <span class="text">Komentāri: {{comments(pic)}}</span>
  </div>
{% endfor %}

<form action = "/bildes" method = "POST">
  <br><br>
  <h3>Pievienot jaunu attēlu <br>(iekopējiet attēla adresi):</h3>
  <p><input type="text" name="newPicture"></p>
  <p><input type = "submit" value = "Pievienot" /></p>
</form>
</div>
</body>
</html>
