<html>
  <body>
    <h1>Attēli, kuru adreses ierakstītas datnē 'static/pictures.bin'</h1>
    {% for pic in pictures %}  
    <a href="{{ url_for('bilde', picture=pic) }}">
      <img src='{{pic}}' height='250px' width='250px' alt='{{pic}}'/>  
    </a>
    {% endfor %}

    <form action = "{{ url_for('visasBildes') }}" method = "POST">
      <p>Pievienot jaunu attēlu (Iekopējiet attēla adresi internetā):</p>
      <p><input type="text" name="newPicture"></p>
      <p><input type = "submit" value = "Pievienot" /></p>
    </form>
  </body>
</html>
