<html>
  <head>
    <title>Datu ievads</title> 
    <meta  charset="UTF-8" name="java" content="script"> 
  </head>
  <body>
    <h1>Datu ievads</h1>
    <div>
        <img src="static/images/add-button.png" alt="Bilde" width="100" height="100">
    </div>
    <div>
    <form action="http://127.0.0.1:5000/uzruna" method = "post">
        <label for="vards">Vārds:</label><br>
        <input type="text" id="vards" name="vards" value=""><br>
        <label for="uzvards">Uzvārds:</label><br>
        <input type="text" id="uzvards" name="uzvards" value=""><br>
        <input type="submit" value="SŪTĪT">
      </form>
    </div>
  </body>
</html>
