<!DOCTYPE html>
<html>
  <head>
    <title>Iznirstošs saraksts ar satura ģenerēšanu</title>        
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style13.css">
  </head>
  <body>
    <h1>Personas</h1>
    <form action="http://127.0.0.1:5000/persona">
        <!-- Izvēlamies rezervējamo lietu -->      
        <label for="persona">Virtuves piederumi:</label>
        <select name="persona" id="persona">
        </select><br>
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>