<!DOCTYPE html>
<html>
  <head>
    <title>Iznirstošs saraksts</title>        
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style13.css">
    <script src="../static/fun.js"></script>
  </head>
  <body>
    <h1>Virtuves piederumi</h1>
    <form>
        <!-- Izvēlamies rezervējamo lietu -->      
        <label for="piederumi">Virtuves piederumi:</label>
        <select name="riiki" id="riiki">
          <optgroup label="Piederumi">
            <option value="nazis v1">nazis versija 1</option>
            <option value="dakšiņa">dakšiņa parastā</option>
            <option value="zupas karote">zupas karote</option>
          </optgroup>
          <optgroup label="Trauki">
            <option value="deserta šķīvis">deserta šķīvis</option>
            <option value="zupas šķīvis">zupas šķīvis</option>
            <option value="terīne">terīne</option>
        </select><br>
        <!-- Norādam skaitu rezervētajai lietai -->
        <label for="skaits">Skaits (no 1 līdz 500):</label>
        <input type="number" id="skaits" name="skaits" min="1" max="500">
        <br><br>
        <input type="submit" value="Submit" onclick="sendDataToServer()">
      </form>
  </body>
</html>